<!DOCTYPE html>
<html lang="sr">

<head>
    <title>Lusteri | band</title>
    <link rel="stylesheet" href="/node_modules/uikit/dist/css/uikit.css">
    <link rel="stylesheet" href="/scss/main.css">

    <script src="/node_modules/uikit/dist/js/uikit.min.js"></script>
    <script src="/node_modules/uikit/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../../js/_hamburgers.js"></script>


</head>

<body>
    <header class="uk-background-primary">
        <div>
            <a href="/index.html"><h1>lusterI</h1></a>
        </div>
        <div class="open">
            <span class="cls"></span>
            <span>
                <ul class="sub-menu ">
                    <li><a href="./band.html" title="band">bend</a></li>
                    <li><a href="./media.html" title="audio/video/photo">v/a/p</a></li>
                    <li><a href="#jobs" title="akcije">akcija</a></li>
                    <li><a href="#contact" title="kontakt">kontakt</a></li>
                </ul>
            </span>
            <span class="cls"></span>
        </div>
    </header>
    <main>
    <div class="uk-container band-page">
        <div class="uk-grid uk-child-width-1-2@m">
            <section class="text">
               <article>
                   <p>Lusteri su "akustični" bend iz Aranđelovca nastao 2009.godine.
                        Prvu postavu činili su Miodrag Antić /gitara, vokal i Marko Stojković /gitara, vokal</p>
               </article>
            </section>
        <section class="info-img">
            <img src="../../images/band/history/lusteri-001.jpg">
        </section>
        </div>
        <div class="uk-grid uk-child-width-1-2@m">
            <section class="info-img">
                <img src="../../images/band/history/lusteri-002.jpg">
            </section>
            <section class="text">
               <article>
                   <p>Tokom 2011. godine bendu se pridružuje Miran Ivanović u početku vokal, a kasnije udaraljke i vokal.</p>
               </article>
            </section>
        </div>
        <div class="uk-grid uk-child-width-1-2@m">
            <section class="text">
               <article>
                   <p>2011. godine bend napušta Miodrag Antić i bend nastavlja kao duo.</p>
               </article>
            </section>
        <section class="info-img">
            <img src="../../images/band/history/lusteri-003.jpg">
        </section>
        </div>
        <div class="uk-grid uk-child-width-1-2@m">
            <section class="info-img">
                <img src="../../images/band/history/lusteri-004.jpg">
            </section>
            <section class="text">
               <article>
                   <p class="uk-text-middle">2016. godine bendu se pridružuje Aleksandar Jovan Krstić / saksofon, flauta, kaval, vokal</p>
               </article>
            </section>
        </div>
    </div>   

    </main>
</body>
</html>