@import '../abstracts/variables';

html{
    font-size: 32px;
}

h1 {
    color: $orange;
    font-size: 5rem;
    font-family: $montserratextrabold;
    margin: 0 0 0 0;
}

h2 {
    color: $black;
    font-size: 3rem;
    font-family: $montserratextrabold;
}

p {
    font-family: $robotoregular;
    font-size: 0.5rem;
}

main {
    background-color: $orange;
    color: $black;
    padding-bottom: 6rem;
}

img {
    width: 100%;
    height: auto;
}


/*----------Navigation-----------*/ 

.nav-logo {
    width: 9rem;
}

.uk-navbar-nav > li > a {
    color: #999;
    text-transform: lowercase;
}

.uk-offcanvas-bar {
    top: 80px;
    background: #222;
}


/*----------Band page-----------*/ 
.band-page {
    padding: 1rem 0;
    .uk-card {
        background-color: $black;
        color: $orange;
        img {
            filter: grayscale(100%);
        }
    }
    .events {
        font-size: 0.75rem;
    }
    .uk-accordion-title::before {
        float: left;
        margin-left: -20px;
    }
}


