@font-face {
    font-family: 'robotoregular';
    src: url('../../fonts/roboto-regular-webfont.eot');
    src: url('../../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('../../fonts/roboto-medium-webfont.eot');
    src: url('../../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratblack';
    src: url('../../fonts/montserrat-black-webfont.woff2') format('woff2'),
         url('../../fonts/montserrat-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('../../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratextrabold';
    src: url('../../fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
         url('../../fonts/montserrat-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}