@import '../base/_typography';

// color scheme
$black:  #070707;
$white:  #f7f7f7;
$orange: #f6bb0a;
$grey:   #888888;

//secondary scheme


//typography scheme
$robotoregular: 'robotoregular', sans-serif;
$robotomedium: 'robotomedium', sans-serif;

$montserratblack: 'montserratblack';
$montserratbold: 'montserratbold', sans-serif;
$montserratextrabold: 'montserratextrabold', sans-serif;
